@page
@model Bookworms.Pages.errors._401Model
@{
    ViewData["title"] = "Authorization required";
}

<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">404</h1>
    <p style="font-size: 50px; ">Page contains confidential information</p>
    <p>You do not have the relevant authorization to access this page.</p>
    <p>Please navigate back to the <a href="https://localhost:7195">Home Page</a></p>
</div>
