@page
@model Bookworms.Pages.errors._403Model
@{
    ViewData["title"] = "Page is forbidden";
}

<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">404</h1>
    <p style="font-size: 50px; ">Page is unable to provide information right now.</p>
    <p>If the problem persists, please contact adminastrators on the matter.</p>
    <p>Please navigate back to the <a href="https://localhost:7195">Home Page</a></p>
</div>
