@page
@model Bookworms.Pages.errors._500Model
@{
    ViewData["title"] = "Internal Server Error";
}

<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">404</h1>
    <p style="font-size: 50px; ">Something has went wrong in the page</p>
    <p>The server encountered a internal error or misconfiguration and was unable to complete your request.</p>
    <p>Please navigate back to the <a href="https://localhost:7195">Home Page</a></p>
</div>
